# Authoring Jupyter Notebooks for Data Science Education

This is a demo notebook on creating Jupyter notebooks for education for the 2023 National Workshop on Data Science Education at UC Berkeley.

## Importing Modules

First we must import the libraries that we will use in this notebook. Select the following cell and hit shift-enter to run the cell. You can also run the cell by clicking on the "Run" button in the above Jupyter pane. When working with students, a common bug is forgetting to run this cell.

In [3]:
# Don't change this cell; just run it. 
import numpy as np
from datascience import *

## Adding Markdown Cells

Instructions and background information can be added to Jupyter notebooks with markdown cells. Right click on this cell and play around with editing the markdown cell.

### Some Useful Features

You can insert equations with LaTeX:

\begin{equation} 
e^{\pi i} + 1 = 0
\end{equation}

You can add tables:

| Function | Description                                                   |
|----------|---------------------------------------------------------------|
| `abs`      | Returns the absolute value of its argument                    |
| `max`      | Returns the maximum of all its arguments                      |
| `min`      | Returns the minimum of all its arguments                      |
| `pow`      | Raises its first argument to the power of its second argument |
| `round`    | Rounds its argument to the nearest integer                     |


You can denote important information in **bold**, *italics*, or <span style="color: #BC412B">**color**</span>.

You can add [links](https://www.espn.com/college-football/game/_/gameId/401404041).

You can insert images:

<img src="images/data8.png">

## Loading Data into a Table

We can create tables in several different ways with the `datascience` module. One such way is to do it manually via `with_columns`:

In [6]:
t = Table().with_columns(
    'Player', ['Curry', 'James', 'Jokic', 'Butler'],
    'Points',  [  31,   25,   29,   19],
    'Assists', [  6,   9,   12,  10],
)
t

Player | Points | Assists
Curry  | 31     | 6
James  | 25     | 9
Jokic  | 29     | 12
Butler | 19     | 10

More commonly, we will want to load data from a pre-existing csv file.

In [13]:
power_plants = Table().read_table('data/California_Power_Plants.csv')	
power_plants.show(5)

You can also load data from a URL.

In [12]:
sat = Table().read_table('https://www.inferentialthinking.com/data/sat2014.csv')
sat.show(5)

## Writing Questions
TODO

## Common Student Errors

In [22]:
sat = Table().read_table('https://www.inferentialthinking.com/data/sat2014.csv')
sat.show(5)

One common student error is destructively modifying data and rerunning past cells. For example, try running the below cell twice. The first time works fine, but the second time there is an error because the `state` column no longer exists in the table!

In [24]:
states_arr = sat.column('State')
sat = sat.drop('State')
sat.show(5)

ValueError: The column "State" is not in the table. The table contains these columns: Participation Rate, Critical Reading, Math, Writing, Combined

## Keyboard Shortcuts
TODO