# Authoring Jupyter Notebooks for Data Science Education

This is a demo notebook on creating Jupyter notebooks for education for the 2023 National Workshop on Data Science Education at UC Berkeley.

## Importing Libraries

First we must import the libraries that we will use in this notebook. Select the following cell and hit shift-enter to run the cell. You can also run the cell by clicking on the "Run" button in the above Jupyter pane.

In [3]:
# Don't change this cell; just run it. 
import numpy as np
from datascience import *

## Adding Markdown Cells

Instructions and background information can be added to Jupyter notebooks with markdown cells. Right click on this cell and play around with editing the markdown cell.

### Some Useful Features

You can insert equations with LaTeX:

\begin{equation} 
e^{\pi i} + 1 = 0
\end{equation}

You can add tables:

| Function | Description                                                   |
|----------|---------------------------------------------------------------|
| `abs`      | Returns the absolute value of its argument                    |
| `max`      | Returns the maximum of all its arguments                      |
| `min`      | Returns the minimum of all its arguments                      |
| `pow`      | Raises its first argument to the power of its second argument |
| `round`    | Rounds its argument to the nearest integer                     |


You can denote important information in **bold**, *italics*, or <span style="color: #BC412B">**color**</span>.

You can add [links](https://www.espn.com/college-football/game/_/gameId/401404041).

You can insert images:

<img src="data8.png">

## Loading Data into a Table

We can create tables in several different ways with the `datascience` module. One such way is to do it manually via `with_columns`:

In [6]:
t = Table().with_columns(
    'Player', ['Curry', 'James', 'Jokic', 'Butler'],
    'Points',  [  31,   25,   29,   19],
    'Assists', [  6,   9,   12,  10],
)
t

Player | Points | Assists
Curry  | 31     | 6
James  | 25     | 9
Jokic  | 29     | 12
Butler | 19     | 10

More commonly, we will want to load data from a pre-existing csv file.

In [8]:
power_plants = Table().read_table('California_Power_Plants.csv')	
power_plants

X        | Y       | OBJECTID | CECPlantID | PlantName                              | Retired_Plant | OperatorCompanyID           | County | Capacity_Latest | Units  | PriEnergySource | StartDate
-119.568 | 36.1372 | 1865     | S0335      | Corcoran 2 Solar LLC CED               | 0             | CED California Holdings LLC | Kings  | 19.8            | 1      | SUN             | 2015/06/10 00:00:00+00
-119.58  | 36.1443 | 1866     | S0520      | Corcoran 3 Solar                       | 0             | CED California Holdings LLC | Kings  | 20              | Unit 1 | SUN             | 2016/02/11 00:00:00+00
-119.648 | 36.2696 | 1867     | C0007      | Hanford - Retired October 2011         | 1             | Hanford LP                  | Kings  | 24              | GEN 1  | PC              | 1990/09/01 00:00:00+00
-119.647 | 36.2703 | 1868     | G0832      | Hanford Energy Park Peaker             | 0             | MRP San Joaquin Energy, LLC | Kings  | 92              | 1, 2   | NG              | 2001/09/01 00:00:00+00
-119.128 | 36.2663 | 1869     | S0608      | Exeter Solar                           | 0             | Tulare PV I LLC             | Tulare | 3.5             | ES     | SUN             | 2014/02/12 00:00:00+00
-119.134 | 36.2118 | 1870     | S0609      | Lindsay Solar                          | 0             | Tulare PV I LLC             | Tulare | 4               | LS     | SUN             | 2014/01/15 00:00:00+00
-119.04  | 36.1037 | 1871     | S9325      | ImModo California 1 LLC_(East Orosi 1) | 0             | Not Available               | Tulare | 1.5             | Unit 1 | SUN             | 2013/12/31 00:00:00+00
-119.039 | 36.1016 | 1872     | S9326      | ImModo California 1 LLC_(East Orosi 2) | 0             | Not Available               | Tulare | 1.5             | Unit 1 | SUN             | 2013/12/31 00:00:00+00
-119.037 | 36.0997 | 1873     | S9327      | ImModo California 1 LLC_(East Orosi 3) | 0             | Not Available               | Tulare | 1.5             | Unit 1 | SUN             | 2013/12/31 00:00:00+00
-119.04  | 36.1028 | 1874     | S0151      | Porterville Solar                      | 0             | Tulare PV I LLC             | Tulare | 3.5             | PS     | SUN             | 2014/01/13 00:00:00+00
... (1792 rows omitted)

You can also load data from a valid URL.

In [10]:
sat = Table().read_table('https://www.inferentialthinking.com/data/sat2014.csv')
sat

State        | Participation Rate | Critical Reading | Math | Writing | Combined
North Dakota | 2.3                | 612              | 620  | 584     | 1816
Illinois     | 4.6                | 599              | 616  | 587     | 1802
Iowa         | 3.1                | 605              | 611  | 578     | 1794
South Dakota | 2.9                | 604              | 609  | 579     | 1792
Minnesota    | 5.9                | 598              | 610  | 578     | 1786
Michigan     | 3.8                | 593              | 610  | 581     | 1784
Wisconsin    | 3.9                | 596              | 608  | 578     | 1782
Missouri     | 4.2                | 595              | 597  | 579     | 1771
Wyoming      | 3.3                | 590              | 599  | 573     | 1762
Kansas       | 5.3                | 591              | 596  | 566     | 1753
... (41 rows omitted)